.sideNav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide ease-in-out 300ms forwards;
}

.sideNav .search input {
  padding: 0.8rem 0rem;
  width: 300px;
  border-radius: 40px;
  text-indent: 20px;
  font-size: 1.2rem;
}

.sideNav i {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
  color: red;
}

@keyframes slide {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0px);
  }
}
